<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>欢迎来到修改邮箱页面</h1>
    <form action="{% url 'app_auth:change_email' %}" method="post">
        {% csrf_token %}
        <div>
            <span>请输入当前使用邮箱：</span>
            <input type="text" name="current_email">
        </div>
        <div>
            <span>请输入新邮箱：</span>
            <input type="text" name="new_email">
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>

</body>
</html>