<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>欢迎来到用户登录页面</h1>
    <form action="{% url 'app_auth:login' %}" method="post">
        {% csrf_token %}
        <div>
            <span>用户名：</span>
            <input type="text" name="username">
        </div>
        <div>
            <span>密码：</span>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>
    <a href="{% url 'app_auth:index' %}">返回主页</a>


    {% if  user.is_authenticated %}
        <a href="{% url 'app_auth:logout' %}">退出登录</a>
        <a href="{% url 'app_auth:change_password' %}">修改密码</a>
        <a href="{% url 'app_auth:change_email' %}">修改邮箱</a>
        <a href="{% url 'app_auth:user_edit' %}">个人资料</a>
        {% else %}
            <a href="{% url 'app_auth:reset_password' %}">忘记密码</a>
    {% endif %}
    <a href="{% url 'app_article:index' %}">文章首页</a>
</body>
</html>