<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>欢迎来到重置密码页面</h1>
    <form action="{% url 'app_auth:reset_password_r' %}" method="post">
        {% csrf_token %}
        <div hidden>
            <span>用户名：</span>
            <input type="text" value="{{ username }}" name="username">
        </div>
        <div>
            <span>请设置密码：</span>
            <input type="password" name="password">
        </div>
        <div>
            <span>再次输入密码：</span>
            <input type="password" name="re_password">
        </div>
        <div>
            <input type="submit" value="提交">
        </div>
    </form>

</body>
</html>